.flex-container {
  background-color: #ffffff;
  margin: 0px 4px;
  height: 80px;
  display: flex;
  align-items: stretch;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flex-container>div {
  background-color: white;
  border: solid 1px #dfe3e6;
  text-align: center;
  vertical-align: center;
  justify-content: center;
  padding: 8px 8px;
  line-height: 80px;
  flex: 1;
}

.tile-label {
  font-weight: bold;
  white-space: nowrap;
  font-size: 14px !important;
  color: rgb(56, 56, 56) !important;
  text-transform: uppercase;
  line-height: 12px;
}

.message,
.comparison {
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
  color: rgb(56, 56, 56) ! important;
}

.value {
  font-weight: bold;
  white-space: nowrap;
  color: rgb(61, 112, 178);
  font-size: 16px;
}

.warningColor {
  color: rgb(171, 38, 30);
  white-space: nowrap;
}

.showPointer {
  cursor: pointer;
}
