<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<carbon-button type="primary">Primary Button</carbon-button>

<carbon-button type="secondary">Secondary Button</carbon-button>

<carbon-button type="danger">Danger Button</carbon-button>

<carbon-button type="primary" disabled="true">Disabled Button</carbon-button>

<carbon-button type="primary" size="small">Small Button</carbon-button>


<div style="margin:10px; padding:10px; width: 100vw;"><textarea #textarea
  readonly
  rows="2"
  cols="48">This is a test.</textarea>
  <carbon-copy-button style="padding: -10px;" [inputElementRef]="textarea"></carbon-copy-button>
</div>

<!-- //   min-height: calc(100vh - 40vh); -->

<div style="display:flex; width: 400px; margin:10px; padding: 10px 20px; justify-content: center ">
  <div>
    <carbon-checkbox [(ngModel)]='checked'>Checked</carbon-checkbox>
  </div>
  <div>
    <carbon-overflow-menu text-align="left">
      <carbon-overflow-menu-item (click)="doSomething()">Stop App</carbon-overflow-menu-item>
      <carbon-overflow-menu-item>Restart App</carbon-overflow-menu-item>
      <carbon-overflow-menu-item>Rename App</carbon-overflow-menu-item>
      <carbon-overflow-menu-item type="danger">Delete App</carbon-overflow-menu-item>
    </carbon-overflow-menu>
  </div>

</div>
  <!-- <carbon-breadcrumb [notrailing]="true">
    <carbon-breadcrumb-item link="www.ibm.com">IBM</carbon-breadcrumb-item>
    <carbon-breadcrumb-item link="https://github.ibm.com/cccc">CCCC</carbon-breadcrumb-item>
    <carbon-breadcrumb-item link="https://github.ibm.com/cccc/angular-carbon-components">Angular Carbon Components</carbon-breadcrumb-item>
  </carbon-breadcrumb> -->




  <carbon-accordion>
    <carbon-accordion-item label="Label">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </carbon-accordion-item>
    <carbon-accordion-item label="Label with multiple words">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </carbon-accordion-item>
    <carbon-accordion-item label="Label">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </carbon-accordion-item>
    <carbon-accordion-item label="Label">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </carbon-accordion-item>
  </carbon-accordion>

  <carbon-pagination
  [length]="654"
  (page)="onPaginatorChange($event)"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 50]">
</carbon-pagination>

<carbon-basic-notification appearance="inline" type="info">
  <span class="title">Inline Info:</span>
  <span class="body">This is an example info message</span>
</carbon-basic-notification>

<carbon-basic-notification appearance="inline" type="success">
  <span class="title">Inline Success:</span>
  <span class="body">This is an example success message</span>
</carbon-basic-notification>



      <!-- Button to open the modal -->
      <carbon-button type="primary" (click)="openTestModal('test-modal')">
        <span i18n>Open test modal</span>
        <carbon-icon class="bx--btn__icon" name="add--solid"></carbon-icon>
      </carbon-button>

      <!-- Modal component -->
      <carbon-modal [modalTitle]="'Modal title test'" [modalId]="'test-modal'">
        <div modal-body>Text inside the modal</div>
        <div modal-footer>
          <carbon-button type="secondary" (click)="cancel('test-modal')">Cancel</carbon-button>
          <carbon-button type="primary" (click)="ok('test-modal')">Okay</carbon-button>
        </div>
      </carbon-modal>

      <carbon-card>
          <carbon-card-overview>
            <carbon-overflow-menu>
                <carbon-overflow-menu-item>Stop App</carbon-overflow-menu-item>
                <carbon-overflow-menu-item>Restart App</carbon-overflow-menu-item>
                <carbon-overflow-menu-item>Rename App</carbon-overflow-menu-item>
                <carbon-overflow-menu-item type="danger">Delete App</carbon-overflow-menu-item>
            </carbon-overflow-menu>
            <section class="bx--card-overview__about">
              <figure class="bx--about__icon">
                <img src="images/placeholder.svg" alt="" class="bx--about__icon--img"/>
              </figure>
              <header class="bx--about__title">
                <h3 id="card-title-2" class="bx--about__title--name">Card Name</h3>
                <h4 class="bx--about__title--additional-info">Secondary Information</h4>
              </header>
            </section>
          </carbon-card-overview>
          <carbon-card-footer>
            <carbon-button type="primary" size="small">View credentials</carbon-button>
            <a href="" class="bx--card-footer__link">Docs</a>
          </carbon-card-footer>
        </carbon-card>
