.ibm-title-text {
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.8fr 8.2fr;
  grid-template-rows: 40px 1fr;
}

main {
  grid-column: 2/-1;
}

aside {
  background-color: #1D364D;
  color: white;
}

header {
  display: flex;
  grid-column: 1/-1;
  background-color: #1D364D;
  color: white;
  grid-template-rows: 5fr 5fr;
  padding: 10px 10px;
}

header div:nth-child(2) {
  margin-left: auto;
}

.ibm-title-text {
  font-weight: normal;
  font-size: 10px;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

.ibm-title {
  font-size: 23px;
}

.spriteImage img {
  object-fit: none;
  object-position: 0 0;
  width: 28px;
  height: 28px;
}

.suitcase img {
  object-position: -3px -95px;
}

.AggPipeIcon img {
  object-position: -49px -58px;
}

.transtionIcon img {
  object-position: -96px -8px;
  ;
}

.transtionIconq img {
  object-position: -54px -8px;
}

.logoIcon .Logoimg {
  object-position: -10px -57px;
}


@media only screen and (max-width: 800px) {
  aside {
    display: none;
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.6fr 8.4fr;
    grid-template-rows: 1fr;
  }

}
