<div class="flex-container">
  <div>
    <carbon-dropdown #selectedCityRef="ngModel" [autofocus]="false" [open]="false" [items]="cities" [(ngModel)]="selectedCity"
      placeholder="Placeholder" bindLabel="name" bindValue="name" required pattern=".*">
    </carbon-dropdown>
    <div class="bx--form-requirement">
      Please select an option.
    </div>

    <!-- <carbon-dropdown #selectedCRef2="ngModel" [autofocus]="false" [open]="false" [items]="cities" [(ngModel)]="selectedCity"
      placeholder="Placeholder" bindLabel="name" bindValue="name" required pattern=".*">
    </carbon-dropdown>
    <div class="bx--form-requirement">
      Please select an option.
    </div>

    <carbon-dropdown #selectedCRef3="ngModel" [autofocus]="false" [open]="false" [items]="cities" [(ngModel)]="selectedCity"
      placeholder="Placeholder" bindLabel="name" bindValue="name" required pattern=".*">
    </carbon-dropdown>
    <div class="bx--form-requirement">
      Please select an option.
    </div>

    <carbon-dropdown #selectedCRef4="ngModel" [multiple]="true" [autofocus]="false" [open]="false" [items]="cities"
      [(ngModel)]="selectedCity" placeholder="Placeholder" bindLabel="name" bindValue="name" required pattern=".*">
    </carbon-dropdown>
    <div class="bx--form-requirement">
      Please select an option.
</div>-->
  </div>
</div>
