<div>
  <div class="flex-container">
    <div>
      <div class="dropdown-header">
        <div>QUARTER: </div>
        <div>
          <carbon-dropdown class="dropdown-style" #selectedCityRef="ngModel" [autofocus]="false" [open]="false" [items]="cities"
            [(ngModel)]="selectedCity" placeholder="Placeholder" bindLabel="name" bindValue="name">
          </carbon-dropdown>
        </div>
      </div>
    </div>
    <div>
      <div class="dropdown-header">
        <div>QUARTER: </div>
        <div>
          <carbon-dropdown class="dropdown-style" #selectedCityRef2="ngModel" [autofocus]="false" [open]="false"
            [items]="cities" [(ngModel)]="selectedCity" placeholder="Placeholder" bindLabel="name" bindValue="name"
            required pattern=".*">
          </carbon-dropdown>
        </div>
      </div>
    </div>

    <div>
      <div class="dropdown-header">
        <div>QUARTER: </div>
        <div>
          <carbon-dropdown class="dropdown-style" #selectedCityRef3="ngModel" [autofocus]="false" [open]="false"
            [items]="cities" [(ngModel)]="selectedCity" placeholder="Placeholder" bindLabel="name" bindValue="name"
            required pattern=".*">
          </carbon-dropdown>
        </div>
      </div>
    </div>

    <div>
      <div>
        <carbon-dropdown class="dropdown-style" #selectedCityRef="ngModel" [autofocus]="false" [open]="false" [items]="cities"
          [(ngModel)]="selectedCity" placeholder="Placeholder" bindLabel="name" bindValue="name" required pattern=".*">
        </carbon-dropdown>
      </div>
    </div>
    <div>
      <div>
        <carbon-dropdown class="dropdown-style" #selectedCityRef="ngModel" [autofocus]="false" [open]="false" [items]="cities"
          [(ngModel)]="selectedCity" placeholder="Placeholder" bindLabel="name" bindValue="name" required pattern=".*">
        </carbon-dropdown>
      </div>
    </div>
    <div>
      <div>
        <carbon-dropdown class="dropdown-style" #selectedCityRef="ngModel" [autofocus]="false" [open]="false" [items]="cities"
          [(ngModel)]="selectedCity" placeholder="Placeholder" bindLabel="name" bindValue="name" required pattern=".*">
        </carbon-dropdown>
      </div>
    </div>
  </div>
  <div style="background-color:white;">
    > veera> swamy> yarrasmetty </div>
</div>
