.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #1b2834;
}

.flex-container>div {
  background-color: #21374c;
  margin: 3px;
  padding: 2px;

}

.dropdown-header {
  display: flex;
  /* color: white; */
  background-color: #21374c;
  font-family: ibm-plex-sans, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  align-items: center;
  padding: 0 0 0 5px;
  margin: 0 10px 0 0;
}

.dropdown-style {

  padding: 0;
  margin: 0;
  height: 1.5rem;
}
