.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #1b2834;
  padding: 5px;
}

.flex-container>div {
  background-color: #21374c;
  color: white;
  margin: 2px;
  padding: 2px;

}

.dropdown-header {
  display: flex;
  background-color: #21374c;
  font-family: ibm-plex-sans, Helvetica Neue, Arial, sans-serif;
  color:white;
  font-size: 12px;
  align-items: center;
  padding: 0;
  margin: 0 2px;
  height: 40px;
}

.dropdown-style {
  padding: 0 2px 0 10px;
  margin: 0;
  height: 40px;;
  color: red;
  min-width: 120px;;
  /* width:10vw;; */
}
